/*
---------------------------------
Style for the navbar begins here
---------------------------------
*/
@media only screen and (min-width: 1424px) {
  nav {
    justify-content: center;
    grid-gap: 3rem;
    width: 102%;
  }
  .nav-menu-list ul,
  .nav-user-info ul {
    margin-right: 10rem;
    margin-left: 8rem;
  }
}
@media only screen and (min-width: 1250px) and (max-width: 1286px) {
  .search-input #search-icon {
    width: 89px;
  }
}
#status-active {
  border-bottom: 2px solid #ffffff;
}
#status-active:hover {
  border-bottom: 2px solid transparent;
}
.search-input #search-icon::placeholder {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", sans-serif;
  font-style: normal;
  color: #0f0e0e;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  padding-left: 15px;
  word-spacing: 2px;
}

/*Style For Body Begins Here*/
body {
  background-color: #252323;
}
header,
nav {
  background-color: transparent;
}
#select-blogs {
  display: none;
}
#select-blogs {
  list-style-type: none;
  position: absolute;
  background-color: #0c0c0c;
  transition: background-color 0.3s ease-in-out;
  color: #fafafa;
  width: auto;
  height: auto;
  padding: 0px 20px;
  padding-top: 7px;
  margin-left: 50px;
  margin-right: 0rem;
}
#select-blogs li {
  margin-bottom: 7px;
}
#select-blogs li a {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/*Style For Tablet Device Begins Here*/
@media only screen and (max-width: 800px) {
  /*Css For Navbar Begins Here*/
  #status-active {
    width: 100px;
    margin: 0 auto;
    text-align: center;
  }
  #select-blogs {
    background-color: #0c0c0c;
    transition: background-color 0.3s ease-in-out;
    color: #fafafa;
    padding: 0px 20px;
    padding-top: 7px;
    margin-top: 2px;
    margin-left: 10px;
    text-align: center;
    margin-right: 0rem;
    margin: 0 auto;
  }
  #select-blogs li {
    margin-bottom: 10px;
  }

  #select-blogs li a {
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    color: #fafafa;
  }
}
/*
------------------------------
Style for navbar ends here
------------------------------
*/

/*Styling for the Section 1 (Hero) Begins Here*/
.section1 {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  margin: 3.5rem auto 3rem auto;
}
.heading {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}
.heading h1 {
  font-size: 45px;
  line-height: 55px;
}
.hero-txt {
  background: rgba(217, 217, 217, 0.3);
  border-radius: 9px;
  padding: 1% 3%;
}
.hero-txt p {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  text-align: justify;
  color: #ffaf40;
  mix-blend-mode: exclusion;
}
.blog4-hr-line {
  width: 100%;
  height: 1px;
  opacity: 0.7;
  background-color: #d16e43;
}

/*Styling for the Section 2 (Content) Begins Here*/
.section2 {
  width: 95%;
  margin: 0 auto;
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: justify;
  color: #fff0f0;
  margin: 1.5rem auto 2.5rem auto;
}
.section2 h2 {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 1.5rem;
}
.section2 p {
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
}

/*Styling for the Section 3 Begins Here*/
.section3 {
  width: 90%;
  margin: 2.5rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section3 legend {
  font-family: "Julius Sans One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #fff5f5;
  mix-blend-mode: exclusion;
  opacity: 0.8;
}
.section3 h3,
.section3 h3 a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 34px;
  color: #fff5f5;
}
.section3 h3 a:hover {
  color: #d16e43;
}

/*
------------------------------
Style for the tablet view begins here
------------------------------
*/
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .section1 {
    font-weight: 600;
    color: #ffffff;
    margin: 2rem auto 2.5rem auto;
  }
  .heading {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 0rem;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .heading h1 {
    font-size: 35px;
    line-height: 45px;
    text-align: center;
  }
  .hero-txt {
    border-radius: 15px;
    padding: 2% 3%;
  }
  .hero-txt p {
    font-size: 25px;
    line-height: 32px;
  }

  .section2 {
    font-weight: 600;
    margin: 1.5rem auto 2rem auto;
  }
  .section2 h2 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 19px;
  }
  .section2 p {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
  }

  .section3 {
    width: 95%;
    margin: 2rem auto 2.5rem auto;
    gap: 12px;
  }
  .section3 legend {
    font-size: 22px;
    line-height: 28px;
  }

  .section3 h3,
  .section3 h3 a {
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    color: #fff5f5;
  }
}

/*
------------------------------
Style for the mobile view begins here
------------------------------
*/
@media only screen and (max-width: 600px) {
  .section1 {
    font-weight: 600;
    color: #ffffff;
    margin: 2rem auto 2.5rem auto;
  }
  .heading {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .heading h1 {
    font-size: 30px;
    line-height: 38px;
    text-align: center;
  }
  .hero-txt {
    border-radius: 15px;
    padding: 4%;
  }
  .hero-txt p {
    font-size: 20px;
    line-height: 28px;
  }

  .section2 {
    font-weight: 600;
    margin: 1.3rem auto 2rem auto;
  }
  .section2 h2 {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 18px;
  }
  .section2 p {
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
  }

  .section3 {
    width: 98%;
    margin: 1.8rem auto 2.3rem auto;
    gap: 12px;
  }
  .section3 legend {
    font-size: 20px;
    line-height: 26px;
  }

  .section3 h3,
  .section3 h3 a {
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    color: #fff5f5;
  }
}

@media only screen and (max-width: 400px) {
  .section3 h3 a {
    display: block;
  }
}

/*
------------------------------
Style for the Blog - 5 Page begins here
------------------------------
*/
.section2 img {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  object-fit: cover;
  object-position: center;
}
.section3 h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 34px;
  color: #fff5f5;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 600px) {
  .section3 h2 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
  }
  .section2 img {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    object-fit: cover;
    object-position: center;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .section3 h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
  }
  .section2 img {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    object-fit: cover;
    object-position: center;
  }
}
