/*
---------------------------------
Style for the navbar begins here
---------------------------------
*/
@media only screen and (min-width: 1424px) {
  nav {
    justify-content: center;
    grid-gap: 3rem;
    width: 102%;
  }
  .nav-menu-list ul,
  .nav-user-info ul {
    margin-right: 10rem;
    margin-left: 8rem;
  }
}
@media only screen and (min-width: 1250px) and (max-width: 1286px) {
  .search-input #search-icon {
    width: 89px;
  }
}
#status-active {
  border-bottom: 2px solid #ffffff;
}
#status-active:hover {
  border-bottom: 2px solid transparent;
}
.search-input #search-icon::placeholder {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", sans-serif;
  font-style: normal;
  color: #0f0e0e;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  padding-left: 15px;
  word-spacing: 2px;
}

/*Style For Body Begins Here*/
body {
  background-color: #252323;
}
header,
nav {
  background-color: transparent;
}
#select-blogs {
  display: none;
}
#select-blogs {
  list-style-type: none;
  position: absolute;
  background-color: #0c0c0c;
  transition: background-color 0.3s ease-in-out;
  color: #fafafa;
  width: auto;
  height: auto;
  padding: 0px 20px;
  padding-top: 7px;
  margin-top: 2px;
  margin-left: 60px;
  margin-right: 0rem;
}
#select-blogs li {
  margin-bottom: 7px;
}
#select-blogs li a {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/*Style For Tablet Device Begins Here*/
@media only screen and (max-width: 800px) {
  /*Css For Navbar Begins Here*/
  #status-active {
    width: 100px;
    margin: 0 auto;
    text-align: center;
  }
  #select-blogs {
    background-color: #0c0c0c;
    transition: background-color 0.3s ease-in-out;
    color: #fafafa;
    padding: 0px 20px;
    padding-top: 7px;
    margin-top: 2px;
    margin-left: 10px;
    text-align: center;
    margin-right: 0rem;
    margin: 0 auto;
  }
  #select-blogs li {
    margin-bottom: 10px;
  }

  #select-blogs li a {
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    color: #fafafa;
  }
}
/*
------------------------------
Style for navbar ends here
------------------------------
*/

/*Css for the Blog - 1, main content begins here*/
.main-blog1 {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 20px;
}
.blog1-heading {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  color: #ffaf40;
  mix-blend-mode: luminosity;
  text-align: center;
  margin: 3% auto;
}
.blog1-quote {
  background: rgba(217, 217, 217, 0.3);
  border: none;
  border-radius: 5px;
  width: 97%;
  margin: 0 auto;
  padding: 1% 2%;
}
.blog1-quote h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  display: flex;
  justify-content: center;
  color: #ffaf40;
  mix-blend-mode: exclusion;
}
.blog1-hr-line {
  width: 100%;
  height: 1.5px;
  background-color: #d16e43;
  opacity: 0.7;
  margin: 5vh auto 5vh auto;
}

/*Style For Newly Added Container Begins Here*/
.newly-added-container {
  width: 97%;
  margin: 0 auto;
}
.newly-added-container h1 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #ffaf40;
  mix-blend-mode: luminosity;
}
.newly-added {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2.5rem;
}
.item-container h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #ffaf40;
  mix-blend-mode: luminosity;
  margin: 1.5rem 0rem 2rem 0rem;
  text-align: center;
}
.item-container .item {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  gap: 1.5rem;
}
.item-container::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 290px;
  background-color: #d16e43;
  opacity: 0.7;
  left: 49%;
  top: 450px;
}
.item-child-1 img {
  width: 100%;
  height: 220px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.item-child-2 p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
}

@media only screen and (min-width: 800px) and (max-width: 1050px) {
  .blog1-quote h2 {
    font-size: 30px;
  }
  .blog1-hr-line {
    margin: 6vh auto 5vh auto;
  }
  .newly-added-container h1 {
    font-size: 35px;
  }
  .item-container h2 {
    font-size: 26px;
    margin: 1.5rem 0rem 1.5rem 0rem;
  }
  .item-container::after {
    width: 1px;
    height: 420px;
    left: 49%;
    top: 430px;
  }
  .item-child-1 img {
    width: 100%;
    height: 90%;
    border: none;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
    margin-top: 15%;
  }
}
@media only screen and (min-width: 1050px) and (max-width: 1281px) {
  .item-container::after {
    width: 1px;
    height: 350px;
    left: 49%;
    top: 470px;
  }
}
